.slider {
  max-width: 300px;
  height: 200px;
  margin: 20px auto;
  position: relative;
}

.background{
    color: #999999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

#slide1 {
  min-height        : 700;
  background-color  : black;
  background-size   :contain;
  animation         : backgroundImg 10s infinite;
  -webkit-animation : backgroundImg 10s infinite;
}
@keyframes backgroundImg
{
  0%  {
    background : url(../Src/Image/background1.jpg)no-repeat center;
    background-color  : black;
    }
  40% {
    background : url(../Src/Image/background1.jpg)no-repeat center;
    background-color  : black;
  }
  50% {
    background : url(../Src/Image/background4.png)no-repeat center;
    background-color  : black;
  }
  90% {
    background : url(../Src/Image/background4.png)no-repeat center;
    background-color  : black;
  }
  100% {
    background : url(../Src/Image/background1.jpg)no-repeat center;
    background-color  : black;
    }
}
.mainsearchbar{
  margin-top: 520px;
}
#SliderItemDitail{
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  height: 500px;
  margin-left: 30%;
  margin-right: 30%;
}
#ItemDetailContainer{
  direction: rtl;
}
#AuctionContainer{
  direction: rtl;
}
#lastBidprice{
  text-align: left;
}
#DateShow{
  text-align: right;
}
#timeTable{
  text-align: center;
}
#descTab{
  margin-top: 10px;
}
#mapModal{
  justify-self : end;
}
.floatDiv {
position: fixed;
margin: 2em;
bottom: 0px;
left: 0px;
animation: 1.5s ease-in-out 0s infinite normal none running back-to-docs;
z-index: 6;}

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
#animated-example {
  width: 20px;
  height: 20px;
  background-color: red;
  position: relative;
  top: 100px;
  left: 100px;
  border-radius: 50%;
}
hr {
  position: relative;
  top: 92px;
  left: -300px;
  width: 200px;
}
