.productCard{
  height: 450px;
  cursor: pointer;
}
.sidebarHead{
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;

}
.littleMargintop{
  margin-top: 10px;
}
.floatLeft{
  text-align: left;
}
.leftToright{
  direction: ltr;
}
.headerCard{
  text-align: center;
}
.mainProductList{
  padding: 1em;
}
