ul#horizontal-list {
	min-width: 170px;
	list-style: none;
	}
	ul#horizontal-list li {
		display: inline;
	}
#fixedMenuContainer{
	direction: rtl;
}
.mainAuction {
	height: 500px;
	width: 500px;
}
.toast {
	background-color:rgba( 0, 128, 128, 0.75);
	padding: 10px;
	color: rgb( 200, 211, 229);
	border-radius: 15px;
	align-content:center;
	margin: auto;
	text-align: center;
  width: 50%;
	height: 40px;
	}
.toastContainer{
	position: fixed;
	bottom: 10%;
	width: 100%;
	z-index: 100000;
	text-align: center;
}
