@font-face {
    font-family: 'shabnam';
    src: local('shabnam'), url(./dist/fonts/shabnam/Shabnam.woff2) format('woff');
  }

body {
    font-family: 'shabnam';
}
body::-webkit-scrollbar {
    display: block;
    overflow: auto;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}